# Integers

In [1]:
print(123123123123123123123123123123 + 1)

123123123123123123123123123124

In [2]:
print(10)
print(type(10))

10
<class 'int'>

# Floating-Point Numbers

In [3]:
print(4.2)
print(type(4.2))

print(4.)

print(.2)

print(.4e7)

print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

# Strings

In [4]:
print("Hactiv8")
print(type("Hactiv8"))

Hactiv8
<class 'str'>

# Boolean Type, Boolean Context, and "Truthiness"

In [5]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

# Variable Assignment

In [6]:
n = 300

In [7]:
print(n)

300

In [8]:
n

300

In [9]:
n = 1000
print(n)


n

1000

1000

In [10]:
a = b = c = 300
print(a, b, c)

300 300 300

# Variable Types in Python

In [11]:
var = 23.5
print(var)

var = "Now I'm a string"
print(var)

23.5
Now I'm a string

# Variable Names

In [18]:
name = "Hactiv8"
Age = 36
has_laptops = True
print(name, Age, has_laptops)

Hactiv8 36 True

# Operators and Expressions in Python

In [19]:
a = 10 
b = 20
a + b

30

In [20]:
a = 20
b = 30 
a + b - 10

40

# Arithmetic Operators

In [23]:
a = 4
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)

7
1
12
1.3333333333333333
1
64

In [24]:
10/5

2.0

# Comparison Operators

In [38]:
a = 10
b = 20
print(a == b)

print(a != b)

print(a <= b)

print(a >= b)



a = 30 
b = 30
print(a == b)

print(a <= b)

print(a >= b)

False
True
True
False
True
True
True

# String Manupulation

In [31]:
s = 'foo'
t = 'bar'
u = 'baz'

print(s + t)

print(s + t + u)


print('Hactiv8 ' + 'PTP')

foobar
foobarbaz
Hactiv8 PTP

In [32]:
s = 'foo.'
s * 4

'foo.foo.foo.foo.'

In [39]:
s = 'foo'
print(s in "That food for us")

print(s in "That good for us")

True
False

In [40]:
s = 'HackTIV8'
print(s.capitalize())

print(s.lower())

print(s.swapcase())

print(s.title())

print(s.upper())

Hacktiv8
hacktiv8
hACKtiv8
Hacktiv8
HACKTIV8

# Python Lists

In [41]:
a = ['foo', 'bar', 'baz', 'qux']

print(a)

['foo', 'bar', 'baz', 'qux']

## List Are Ordered

In [42]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', ' qux', 'bar', 'foo']

a == b

False

## Lists Can Contain Arbitrary Objects

In [43]:
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

print(a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

## List Elements Can Be Accessed by Index

In [44]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [45]:
print(a[0])
print(a[5])

foo
corge

In [47]:
print(a[-1])
print(a[-6])

corge
foo

In [48]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
a[2:5]

['baz', 'qux', 'quux']

In [49]:
print(a)

print(a + ['grault', 'garply'])
print(a * 2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [50]:
print(a)

print(len(a))
print(min(a))
print(max(a))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux

## Modifying Multiple List Values

In [51]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[1:4])

a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]

print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

# Python Tuples

In [52]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [53]:
print(t[0])
print(t[-1])

foo
corge

In [54]:
(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')
s1

'foo'

# Python Dictionary

In [56]:
MLB_team = {
    'Colorado': 'Rockies',
    'Boston': 'Red Sox',
    'Minnesota': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle': 'Mariners'
}

## Accessing Dictionary Values

In [57]:
print(MLB_team['Minnesota'])
print(MLB_team['Colorado'])

Twins
Rockies

In [58]:
MLB_team['Kansas City'] = 'Royals'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

In [59]:
MLB_team['Seattle'] = 'Seahawks'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seahawks',
 'Kansas City': 'Royals'}

In [60]:
del MLB_team['Seattle']
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals'}

## Building a Dictionary Incrementally

In [62]:
person = {}
type (person)

person['fname'] = 'Hack'
person['lname'] = 'PTP'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}

In [63]:
person

{'fname': 'Hack',
 'lname': 'PTP',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [64]:
print(person['fname'])
print(person['lname'])

Hack
PTP

In [65]:
print(person['children'])
print(person['children'][1])

['Ralph', 'Betty', 'Joey']
Betty

In [66]:
print(person['pets'])
print(person['pets']['cat'])

{'dog': 'Fido', 'cat': 'Sox'}
Sox

In [67]:
d = {'a' :10, 'b': 20, 'c': 30}

print(d.items())

print(d.keys())

print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

# Line Continuation

In [68]:
person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65)
someone_is_of_working_age

True

In [69]:
someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <= 65)
    or (person2_age >= 18 and person2_age <= 65) 
    or (person3_age >= 18 and person3_age <= 65)
)

someone_is_of_working_age

True