# Conditions, Control Flow & Looping

## if Statment

In [1]:
x = 0
y = 5

if x < y:
    print('yes')

if y < x:
    print('yes')

if x:
    print('yes')
    
if y:
    print('yes')

if 'aul' in 'grault':
    print('yes')
    
if 'quux' in ['foo', 'bar', 'baz']:
    print('yes')

yes
yes
yes

In [2]:
if 'foo' in ['bar', 'baz', 'qux']:
    print('Expression was true')
    print('Executing statment in suit')
    print('...')
    print('Done.')

print('After conditional')

After conditional

In [3]:
if 'foo' in ['foo', 'bar', 'baz']:
    print('Outer cconditional is true')
    
    if 10 > 10:
        print('Inner conditional 1')
        
    print('Between inner conditional')
    
    if 10 < 20:
        print('Inner conditional 2')
        
    print('End of outer conditional')
    
print('After outer conditional')

Outer cconditional is true
Between inner conditional
Inner conditional 2
End of outer conditional
After outer conditional

### The else and elif clauses

In [4]:
x = 20

if x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(secound suite)')
    print('x is large')

(first suite)
x is small

In [5]:
x = 120

if x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(secound suite)')
    print('x is large')

(secound suite)
x is large

In [6]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print('beli buku')
else:
    print('uang tidak cukup')

uang tidak cukup

In [7]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print('beli buku')
elif uang > hargaMajalah:
    print('beli majalah')
else:
    print('uang tidak cukup')

uang tidak cukup

In [8]:
name = 'Hacktiv8'
if name == 'Fred':
    print('Hallo Fred')
elif name == 'Xander':
    print('Hallo Xander')
elif name == 'Hacktiv8':
    print('Hallo Hacktiv8')
elif name == 'Arnold':
    print('Hallo Arnold')
else:
    print("I don't know who you are!")

Hallo Hacktiv8

In [9]:
if 'a' in 'bar':
    print('foo')
elif 1/0:
    print("this won't happen")
elif var:
    print('this won not either')

foo

### One-Line if Statments

In [10]:
if 'f' in 'foo' : print('1');print('2');print('3')

1
2
3

In [11]:
if 'z' in 'zoo' : print('1');print('2');print('3')

1
2
3

In [13]:
x = 2
if x == 1: print('foo'); print('bar');print('baz')
elif x == 2: print('qux');print('quux')
else: print('corge');print('grault')

qux
quux

In [14]:
x = 3
if x == 1: print('foo'); print('bar');print('baz')
elif x == 2: print('qux');print('quux')
else: print('corge');print('grault')

corge
grault

In [15]:
x = 3
if x == 1:
    print('foo')
    print('bar')
    print('baz')
elif x == 2:
    print('qux')
    print('quux')
else:
    print('corge')
    print('grault')

corge
grault

### Conditional Expressions

In [16]:
raining = False
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the beach

In [17]:
raining = True
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the library

In [20]:
age = 12
s = 'teen' if age < 21 else 'adult'
s

'teen'

In [21]:
'yes' if ('qux' in ['foo', 'bar', 'baz']) else 'no'

'no'

In [23]:
if True:
    pass
print('foo')

foo

# Perulangan

## Python while Loops

In [1]:
n = 5
while n > 0:
    n -= 1
    print(n)

4
3
2
1
0

In [2]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [3]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        break
    print(n)
print('Loop ended')

4
3
Loop ended

In [4]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        continue
    print(n)
print('Loop ended')

4
3
1
0
Loop ended

### The else Clause

In [5]:
n = 5
while n > 0:
    n -= 1
    print(n)
else:
    print('Loop done')

4
3
2
1
0
Loop done

In [6]:
n = 5
while n > 0:
    n -= 1
    print(n)
    if n == 2:
        break
else:
    print('Loop done.')

4
3
2

In [3]:
a = ['foo', 'bar']

while len(a):
    print(a.pop(0))
    
    b = ['baz', 'qux']
    while len(b):
        print(">", b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

### One-Line while Loops

In [4]:
n = 5
while n > 0: n -=1; print(n)

4
3
2
1
0

## The Python for Loop

In [5]:
a = ['foo', 'bar', 'baz']
for i in a:
    print(i)

foo
bar
baz

In [6]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k in d:
    print(k)

foo
bar
baz

In [7]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k in d:
    print(d[k])

1
2
3

In [8]:
for k in d.values():
    print(k)

1
2
3

In [9]:
for k, v in d.items():
    print(k, ":", v)

foo : 1
bar : 2
baz : 3

### The break and continue Statment

In [10]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        break
    print(i)

foo

In [11]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        continue
    print(i)

foo
qux

### The else clause

In [12]:
for i in ['foo', 'bar', 'baz', 'qux']:
    print(i)
else:
    print('Done.')

foo
bar
baz
qux
Done.

In [13]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if i == 'bar':
        break
    print(i)
else:
    print('Done.')

foo

#### Contoh Penggunaan

In [15]:
temp = input("Ketika temperatur yang ingin dikonversi, eg. 45F, 120C: ")
degree = int(temp[:-1])
i_convertion = temp[-1]

if i_convertion == "C":
    result = int(round((9 * degree) / 5 + 32))
elif i_convertion == "F":
    result = int(round((degree - 32) * 5 / 32))
else:
    print("Masukan input yang benar")

print("Temperaturnya adalah", result, "derajat")

Ketika temperatur yang ingin dikonversi, eg. 45F, 120C: 98C
Temperaturnya adalah 208 derajat

In [16]:
while True:
    msg = input("Ketikan Karakter : ").lower()
    print(msg)
    if msg == "stop":
        break

Ketikan Karakter : stop
stop